{% extends "disease_page.html" %}
{% block page %}
<div class="ff" style="background-color:#f6f9ff;">

<div id="disease_page"><!-- ======= About Us Section ======= -->
    <section id="about" class="about" >
      <div class="container" data-aos="fade-up">

        <div class="section-title">
			<!-- <div class=" wow fadeInRight"   data-wow-delay="0.5s">
          <h2>Heart Disease</h2></div> -->
		   <div class=" wow fadeInRight"   data-wow-delay="0.5s">
            <h3>Heart Disease</h3></div>
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
		</div>
          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
            <img src="../static/images/disease_img/theheart1.jpg" class="img-fluid" alt="" style="height:500px;width:500px;">
		</div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
            <h3>OVERVIEW</h3></div>
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
				<p style="font-size:large;">	Heart disease describes a range of conditions that affect your heart. Heart diseases include:
					Blood vessel disease, such as coronary artery disease
					Heart rhythm problems (arrhythmias)
					Heart defects you're born with (congenital heart defects)
					Heart valve disease
					Disease of the heart muscle
					Heart infection
					Many forms of heart disease can be prevented or treated with healthy lifestyle choices.
				</p>
				
          </div>
        </div>
		</div>
      </div>
	 
	  <!-- ======= Featured Services Section ======= -->
	  <br><br><br>
	  <div class=" wow fadeInRight"   data-wow-delay="0.5s">
	  <h3 class="nn" style="text-align: center;">Symptoms</h3></div>
	  <section id="featured-services" class="featured-services">

		<div class="container" data-aos="fade-up">
  
		  <div class="row">
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
			  <div class="Flexb" style="
    
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(2, 1fr);
				grid-gap: 10px;
				padding-left: 30px;
				
			  ">
			  <div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px #ccc;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  margin-bottom: 120px;
			  text-align: center;
			  padding: 40px ;
			  margin-left: 20px;">
			  <h4  style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  ">Pressure, tightness, pain.</h4></div>
			 

			 <div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px #ccc;
			  overflow: hidden;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  margin-top: 10px;
			  margin-bottom: 120px;
			  text-align: center;
			  padding: 18px ;
			  margin-left: 20px;">
			  	<h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  ">Sensation in your chest that may spread to your neck</h4></div>
			

				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px #ccc;
			  overflow: hidden;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  margin-top: 10px;
			  margin-bottom: 120px;
			  text-align: center;
			  padding: 50px ;
			  padding-left: 40px;
			  margin-left: 20px;">
			 <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  ">Nausea, indigestion, heartburn</h4></div>
				

				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px #ccc;
			  overflow: hidden;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  margin-top: 10px;
			  margin-bottom: 120px;
			  text-align: center;
			  padding: 50px ;
			  padding-top: 60px;
			  padding-left: 40px;
			  margin-left: 18px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  ">Abdominal pain</h4></div>
					

					<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px #ccc;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  margin-bottom: 120px;
			  text-align: center;
			  padding: 50px ;
			  margin-left: 20px;">
			  	<h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  ">Shortness of breath</h4></div>
				

					<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px #ccc;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  margin-bottom: 120px;
			  text-align: center;
			  padding: 58px ;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  ">Cold sweat</h4></div>
						

						<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px #ccc;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  margin-bottom: 120px;
			  text-align: center;
			  padding: 70px ;
			  padding-left: 60px;
			  margin-left: 20px;">
			 <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  ">Fatigue</h4></div>
							

							<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px #ccc;
			  overflow: hidden;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  margin-top: 10px;
			  margin-bottom: 120px;
			  text-align: center;
			  padding-top: 60px;
			  padding-right: 10px;
			  padding-left: 10px ;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "> Sudden dizziness</h4></div>
								
			
  
			
			</div>
			
		  </div>
		</div>
		</div>
	  </section><!-- End Featured Services Section -->
    </section><!-- End About Us Section -->
			<!-- <div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8 wow fadeInLeft" data-wow-delay="0.5s">
						<div class="liv" style="padding-top: 20px;padding-left: 450px;">
						<h3>Liver Disease</h3></div>
						<br><br>
						<div class="overview" style="padding-right: 1000px;">
						<u><h4 class="overv" style="font-family: Mulish;
							font-size: 40px;
							font-weight: 400;
							line-height: 50px;
							letter-spacing: 0em;
							text-align: left;
							">Overview</h4></u>
						<div class="liv-t" style=" width: 500px; height:330px;
						border: 1px solid #ccc;
						border-radius: 10px;
						box-shadow: 2px 2px 10px #ccc;
						overflow: hidden;
						padding: 10px;
						margin-left: 20px;">
						<div class="liv-p" style="font-family: Mulish;
						
						">
						
						<p>	 The liver is an organ about the size of a football. It sits just under your rib cage on the right side of your abdomen. The liver is essential for digesting food and ridding your body of toxic substances.

						Liver disease can be inherited (genetic). Liver problems can also be caused by a variety of factors that damage the liver, such as viruses, alcohol use and obesity.

						Over time, conditions that damage the liver can lead to scarring (cirrhosis), which can lead to liver failure, a life-threatening condition. But early treatment may give the liver time to heal.
						</p></div></div>
					</div>
						
					</div>
					
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
						<img class="ill_image" src="../static/images/disease_img/theliver1.jpg">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
						<u><h4 class="overv" style="font-family: Mulish;
							font-size: 40px;
							font-weight: 400;
							line-height: 50px;
							letter-spacing: 0em;
							text-align: left;
							">Symptoms</h4></u>
						<p>Liver disease doesn't always cause noticeable signs and symptoms. If signs and symptoms of liver disease do occur, the may include:
						</p>
					    <ul>
					      <li>Skin and eyes that appear yellowish (jaundice)</li>
					      <li>Abdominal pain and swelling</li>
					      <li>Swelling in the legs and ankles</li>
					      <li>Itchy skin</li>
					      <li>Dark urine color</li>
					      <li>Pale stool color</li>
					      <li>Chronic fatigue and loss of appetite</li>
					      <li>Nausea or vomiting</li>
					    </ul>
					</div>
				</div>
				
			</div> -->
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInRight" style="display: inline-block;vertical-align: middle;"  data-wow-delay="0.5s">
						<h3 class="mod" style="padding-left:40px;">Model</h3>
						<p>To make the diagnosis you need to enter the following informations :</p>
						<ul>
							<li>age: age of the patient</li>
							<li>gender: "Male", "Female" or "Other"</li>
							<li>chest pain type: typical angina/atypical angina/non-anginal pain/asymptomatic)</li>
							<li>resting blood pressure</li>
							<li>serum cholestoral in mg/dl</li>
							<li>fasting blood sugar > 120 mg/dl: yes or no</li>
							<li>resting electrocardiographic results: normal, having ST-T wave abnormality, showing probable or definite left ventricular hypertrophy by Estes criteria)</li>
							<li>maximum heart rate achieved</li>
 							<li>exercise induced angina</li>
 							<li>oldpeak: ST segment depression induced by exercise relative to rest</li>
 							<li>the slope of the peak exercise ST segment </li>

						</ul>
					</div>
					
				<div class="col-md-6 col-sm-6  wow fadeInRight" data-wow-delay="0.5s">
					<div class="flex-wrapper">
					  <div class="single-chart">
					    <svg viewBox="0 0 36 36" class="circular-chart orange">
					      <path class="circle-bg"
					        d="M18 2.0845
					          a 15.9155 15.9155 0 0 1 0 31.831
					          a 15.9155 15.9155 0 0 1 0 -31.831"
					      />
					      <path class="circle"
					        stroke-dasharray="90, 100"
					        d="M18 2.0845
					          a 15.9155 15.9155 0 0 1 0 31.831
					          a 15.9155 15.9155 0 0 1 0 -31.831"
					      />
					      <text x="18" y="20.35" class="percentage">90%</text>
					    </svg>
					    <h4 style="text-align: center;">Accuracy</h4>
					  </div>
					  </div>
					</div>
				</div>
						
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="prediction text-center">
			    <a href="/heart_form" class="smoothScroll btn btn-success wow fadeInDown" data-wow-delay="2000">Predict</a>
		  	</div>
			<br>
		  	<br>
		  	<br>
		  	<br>

		</div></div>
		{% endblock %}