{% extends "disease_page.html" %}
{% block page %}
<div class="ff" style="background-color:#f6f9ff;">
<div id="disease_page" ><!-- ======= About Us Section ======= -->
    <section id="about" class="about" >
      <div class="container" data-aos="fade-up">

        <div class="section-title">
			<!-- <div class=" wow fadeInRight"   data-wow-delay="0.5s"> -->
          <!-- <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;">Liver Disease</h2> -->
		  <div class=" wow fadeInRight"   data-wow-delay="0.5s">
            <h3>Liver Disease</h3></div>
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
		</div>
          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
            <img src="../static/images/disease_img/theliver1.jpg" class="img-fluid" alt="" style="height:500px;width:500px;">
		</div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
            <h3>OVERVIEW</h3></div>
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
            <p style="font-size:large;">
				The liver is an organ about the size of a football. It sits just under your rib cage on the right side of your abdomen. The liver is essential for digesting food and ridding your body of toxic substances.

				Liver disease can be inherited (genetic). Liver problems can also be caused by a variety of factors that damage the liver, such as viruses, alcohol use and obesity.

				Over time, conditions that damage the liver can lead to scarring (cirrhosis), which can lead to liver failure, a life-threatening condition. But early treatment may give the liver time to heal.
            </p>
          </div>
        </div>
		</div>
      </div>
	 
	  <!-- ======= Featured Services Section ======= -->
	  <br><br><br>
	  <div class=" wow fadeInRight"   data-wow-delay="0.5s">
	  <h3 class="nn" style="text-align: center;">Symptoms</h3></div>
	  <section id="featured-services" class="featured-services">

		<div class="container" data-aos="fade-up">
  
		  <div class="row">
			<div class=" wow fadeInRight"   data-wow-delay="0.5s">
			  <div class="Flexb" style="
    
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(2, 1fr);
				grid-gap: 10px;
				padding-left: 30px;
				
			  ">
			  
			  <div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;
			  box-shadow: 2px 2px 10px black;
			  padding: 40px ;
			  margin-bottom: 120px;
			  text-align: center;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "><i>Skin and eyes that appear yellowish (jaundice)</i>
				</h4></div>
				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  background-color: #fff;

			  box-shadow: 2px 2px 10px  black;
			  overflow: hidden;
			  margin-top: 10px;
			  margin-bottom: 120px;
			  text-align: center;
			  padding: 70px ;
			  padding-left: 3px;
			  padding-right: 3px;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "><i>Abdominal pain and swelling</i>
				</h4></div>
				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px black;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;

			  text-align: center;
			  padding: 50px;
			  margin-bottom: 120px;;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "><i>Swelling in the legs and ankles</i></h4></div>
				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px  black;
			  text-align: center;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;

			  padding-top: 80px;
			  margin-bottom: 120px;;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "><i>Itchy skin
				</h4></i></div>
				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px  black;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;

			  text-align: center;
			  padding: 80px 20px 40px ;
			  margin-bottom: 120px;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "><i>Dark urine color</i></h4>
			  </div>
				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px  black;
			  overflow: hidden;
			  background-color: #fff;

			  margin-top: 10px;
			  text-align: center;
			  margin-bottom: 120px;
			  padding-top: 80px;
			  
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "><i>Pale stool color</i></h4>
			  </div>
				
				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px  black;
			  overflow: hidden;
			  margin-top: 10px;
			  background-color: #fff;

			  text-align: center;
			  margin-bottom: 120px;
			  padding-top: 65px;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "><i>Chronic fatigue and loss of appetite</i></h4>
			  </div>
				<div class="dd1" style="width: 200px;
			  border: 1px solid #ccc;
			  border-radius: 10px;
			  box-shadow: 2px 2px 10px  black;
			  overflow: hidden;
			  margin-top: 10px;
			  text-align: center;
			  background-color: #fff;

			  padding: 60px ;
			  margin-bottom: 120px;
			  margin-left: 20px;">
			  <h4 style="font-size:x-large;    font-family: 'Raleway', sans-serif;
			  "><i>Nausea or Vomiting</i></h4>
			  </div>
			
  
			
			</div>
			
		  </div>
		</div>
		</div>
	  </section><!-- End Featured Services Section -->
    </section><!-- End About Us Section -->
			<!-- <div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8 wow fadeInLeft" data-wow-delay="0.5s">
						<div class="liv" style="padding-top: 20px;padding-left: 450px;">
						<h3>Liver Disease</h3></div>
						<br><br>
						<div class="overview" style="padding-right: 1000px;">
						<u><h4 class="overv" style="font-family: Mulish;
							font-size: 40px;
							font-weight: 400;
							line-height: 50px;
							letter-spacing: 0em;
							text-align: left;
							">Overview</h4></u>
						<div class="liv-t" style=" width: 500px; height:330px;
						border: 1px solid #ccc;
						border-radius: 10px;
						box-shadow: 2px 2px 10px #ccc;
						overflow: hidden;
						padding: 10px;
						margin-left: 20px;">
						<div class="liv-p" style="font-family: Mulish;
						
						">
						
						<p>	 The liver is an organ about the size of a football. It sits just under your rib cage on the right side of your abdomen. The liver is essential for digesting food and ridding your body of toxic substances.

						Liver disease can be inherited (genetic). Liver problems can also be caused by a variety of factors that damage the liver, such as viruses, alcohol use and obesity.

						Over time, conditions that damage the liver can lead to scarring (cirrhosis), which can lead to liver failure, a life-threatening condition. But early treatment may give the liver time to heal.
						</p></div></div>
					</div>
						
					</div>
					
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
						<img class="ill_image" src="../static/images/disease_img/theliver1.jpg">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
						<u><h4 class="overv" style="font-family: Mulish;
							font-size: 40px;
							font-weight: 400;
							line-height: 50px;
							letter-spacing: 0em;
							text-align: left;
							">Symptoms</h4></u>
						<p>Liver disease doesn't always cause noticeable signs and symptoms. If signs and symptoms of liver disease do occur, the may include:
						</p>
					    <ul>
					      <li>Skin and eyes that appear yellowish (jaundice)</li>
					      <li>Abdominal pain and swelling</li>
					      <li>Swelling in the legs and ankles</li>
					      <li>Itchy skin</li>
					      <li>Dark urine color</li>
					      <li>Pale stool color</li>
					      <li>Chronic fatigue and loss of appetite</li>
					      <li>Nausea or vomiting</li>
					    </ul>
					</div>
				</div>
				
			</div> -->
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInRight" style="display: inline-block;vertical-align: middle;"  data-wow-delay="0.5s">
						<h3 class="mod" style="padding-left:40px;">Model</h3>
						<p>To make the diagnosis you need to enter the following informations :</p>
						<ul>
							<li>Age: age of the patient</li>
							<li>Gender: Male, Female or Other</li>
							<li>Total Bilirubin: result of blood test that measures the amount of a substance called bilirubin</li>
							<li>Direct Bilirubin: result of blood test that measures the amount of direct bilirubin</li>
							<li>Alkaline Phosphotase: result of blood test to measures the amount of an enzyme called alkaline phosphotase</li>
							<li>Alanine Aminotransferase: result of test to measure the amount of an enzyme called alanine aminotransferase</li>
							<li>Aspartate Aminotransferase: result of test to measure the amount of the enzyme aspartate aminotransferase</li>
							<li>Total Protiens: A total protein test measures the sum of all types of proteins in the blood</li>
 							<li>Albumin: Result of albumin blood test that measures the amount of albumin in your blood. Albumin is a protein made by your liver</li>
 							<li>Albumin and Globulin Ratio: result of a test that compares the concentrations of albumin and globulin in the blood</li>

						</ul>
					</div>
					
				<div class="col-md-6 col-sm-6  wow fadeInRight" data-wow-delay="0.5s">
					<div class="flex-wrapper">
					  <div class="single-chart">
					    <svg viewBox="0 0 36 36" class="circular-chart orange">
					      <path class="circle-bg"
					        d="M18 2.0845
					          a 15.9155 15.9155 0 0 1 0 31.831
					          a 15.9155 15.9155 0 0 1 0 -31.831"
					      />
					      <path class="circle"
					        stroke-dasharray="86, 100"
					        d="M18 2.0845
					          a 15.9155 15.9155 0 0 1 0 31.831
					          a 15.9155 15.9155 0 0 1 0 -31.831"
					      />
					      <text x="18" y="20.35" class="percentage">84%</text>
					    </svg>
						<br>
					    <h4 style="text-align: center;">Accuracy</h4>
					  </div>
					  </div>
					</div>
				</div>
						
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="prediction text-center" >
			    <a href="/liver_form" class="smoothScroll btn btn-success wow fadeInDown" data-wow-delay="2000">Predict</a>
		  	</div>
			<br>
		  	<br>
		  	<br>
		  	<br>

		</div></div>
		{% endblock %}

