{% extends "disease_page.html" %}
{% block page %}
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h2 class="pt-10 text-center">Diabetes Disease Prediction </h2>
  

  <div style="width: 90%; margin: auto; text-align: center">
  	{% if prediction == 0 %}
      <br>
      {% if Insulin == '0' %}
      <br>
      <p style="font-style: italic; font-size: 20px">Sorry, it seems that you are in risk of getting Stage 1 Diabetes disease</p>
      <br>
      <br>
      {% else %}
      <br>
      <p style="font-style: italic; font-size: 20px">Sorry, it seems that you are in risk of getting Stage 2 Diabetes disease</p>
      <br>
      {% endif %}
      <br>
       <div class="prediction text-center">
		    <a href="/" class="smoothScroll btn btn-success wow fadeInDown" data-wow-delay="2000">Back Home</a>
	  	</div>
      <br>
      <br>

    {% elif prediction == 1 %}
      <br>
      <br>
      <p style="font-style: italic; font-size: 20px">No need to fear. You have no dangerous symptoms of the Diabetes disease</p>
      <br>
      <br>
      <div class="prediction text-center">
		    <a href="/" class="smoothScroll btn btn-success wow fadeInDown" data-wow-delay="2000">Back Home</a>
	  	</div>


     {% elif prediction == 2 %}
      <br>
      <br>
      <p style="font-style: italic; font-size: 20px">No need to fear. You have no dangerous symptoms of the Diabetes disease</p>
      <br>
      <br>


      <div class="prediction text-center">
		    <a href="/" class="smoothScroll btn btn-success wow fadeInDown" data-wow-delay="2000">Back Home</a>
	  	</div>


     {% endif %}
  </div>
  <br>
  <br>
  <br>

    
{% endblock %}